[project]
	description = Fitnesse Slim implementation in PowerShell. PowerSlim makes it possible to use PowerShell in the acceptance testing
[access "refs/*"]
	owner = group user/konstantinvlasenko (konstantinvlasenko)
[access "refs/for/refs/*"]
	read = group user/konstantinvlasenko (konstantinvlasenko)
	push = group user/konstantinvlasenko (konstantinvlasenko)
	label-Code-Review = -2..+2 group user/konstantinvlasenko (konstantinvlasenko)
	label-Verified = -1..+1 group user/konstantinvlasenko (konstantinvlasenko)
	rebase = group user/konstantinvlasenko (konstantinvlasenko)
	removeReviewer = group user/konstantinvlasenko (konstantinvlasenko)
	submit = group user/konstantinvlasenko (konstantinvlasenko)
[access "refs/heads/*"]
	read = group user/konstantinvlasenko (konstantinvlasenko)
	create = group user/konstantinvlasenko (konstantinvlasenko)
	push = +force group user/konstantinvlasenko (konstantinvlasenko)
	pushMerge = group user/konstantinvlasenko (konstantinvlasenko)
[access "refs/tags/*"]
	push = +force group user/konstantinvlasenko (konstantinvlasenko)
	pushTag = group user/konstantinvlasenko (konstantinvlasenko)
	pushSignedTag = group user/konstantinvlasenko (konstantinvlasenko)
