<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Konstantin Vlasenko" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title"><a href="/">PowerSlim</a></div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Konstantin Vlasenko (konstantin.vlasenko@gmail.com)<br />
        Twitter: <a href="http://twitter.com/#!/velaskec">@velaskec</a><br />
        Blog: <a href="http://vlasenko.org">vlasenko.org</a>
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/konstantinvlasenko/PowerSlim"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-26178756-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>

